body{
    background-color: rgb(141, 212, 99);
    
}
.bgc{
    background-color: rgb(255, 255, 255, .8);
    /* border: solid 2px rgb(241, 241, 241); */
}

.myBorder{
    border: solid 2px rgb(211, 211, 211);
}

.container{
    width: 650px;
    border-radius: 10px;
}

.pemasukan, .pengeluaran-div  {
width: 550px;
height: 45px;
}


